<dt role="heading" aria-level="3">
  <button aria-expanded="{{ariaExpanded}}"
          class="Accordion-trigger"
          aria-controls={{sectId}}
          id={{accordionId}}
          type="button" {{action select title}}>
    <span class="Accordion-title">
      {{title}}
    </span>
    <span class="Accordion-icon"></span>
  </button>
</dt>
<dd id={{sectId}}
    role="region"
    aria-labelledby={{accordionId}}
    class="Accordion-panel" hidden={{hidden}}>
  <div>
    {{yield}}
  </div>
</dd>
