<dt role="heading" aria-level="3">
  <button aria-expanded="{{this.ariaExpanded}}"
          class="accordion-trigger"
          aria-controls={{this.sectId}}
          id={{this.accordionId}}
          type="button"
          {{on "key-down"  this.focusAccordion}}
          {{on "click" (fn @select @title)}}
          >
    <span class="accordion-title">
      {{@title}}
    </span>
    <span class="accordion-icon"></span>
  </button>
</dt>
<dd id={{this.sectId}}
    role="region"
    aria-labelledby={{this.accordionId}}
    class="accordion-panel" hidden={{this.hidden}}>
  <div>
    {{yield}}
  </div>
</dd>
